<nav class="navbar" aria-label="Site navbar">
    <div class="container-fluid">
      
      <a class="navbar-brand" href="/index.html">{{ site.author }}</a>
      <button class="navbar-toggler collapsed border border-4 border-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-hook" aria-controls="navbar-hook" aria-expanded="false" aria-label="Site navbar toggle">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse justify-content-center bg-transparent" id="navbar-hook">
        <nav class="navbar-nav nav-fill flex-row justify-content-center">
         
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ site.url }}/index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="{{ site.url }}/projects/index.html">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.url }}/writings/index.html">Writings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.github_link }}">GitHub</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ site.linkedin_link }}">LinkedIn</a>
          </li>

        </nav>
      </div>
    </div>
  </nav>

  <hr class="bg-primary border-5 border-top border-primary me-auto mb-3">