<div class="container-fluid"> <!--  border border-2 shadow-2 -->
    <div class="row"> <!-- Image -->

        <img src="" class="" alt="">

    </div>
    <div class="row"> <!-- Blurb -->

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates molestias, quia numquam molestiae, quod nemo nostrum repellat facilis quibusdam totam cupiditate quisquam eius minus placeat officia nesciunt earum qui, porro voluptate? Ut nihil deserunt accusantium similique quod, optio soluta pariatur non nobis maxime magnam eum dolorem magni nostrum earum quam!</p>

    </div>
    <div class="row"> <!-- Social Links --> <!-- Revisit -->
        <ul class="list-unstyled">

            <li><a href=""></a>Github</li>
            <li><a href=""></a>Twitter</li>
            <li><a href=""></a>LinkedIn</li>
            <li><a href=""></a>TEMPORARY</li>
            
        </ul>
    </div>
    <div class="row"> <!-- Contact Info -->

        <p>This is where I tell people how to talk to me and give me money</p>
        <p>This is where I write my email and other info</p>

    </div>
</div>