<!-- Sticky Footer -->

<div class="container-fluid fixed-bottom">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex">

      <span class="text-muted">Copyright © {{ site.author }} | {{ site.time | date: "%Y" }}</span>

    </div>
    <ul class="nav col-md-4 justify-content-end align-items-center list-unstyled d-flex">

      <li class="me-3"><a href="https://github.com/EvanYohe"><i class="bi-github" style="font-size: 1rem; color: #000;"></i></a></li>
      <li class="me-3"><a href="#"><i class="bi-twitter" style="font-size: 1rem; color: #000;"></i></a></li>
      <li class="me-3"><a href="https://linkedin.com/in/evan-yohe"><i class="bi-linkedin" style="font-size: 1rem; color: #000;"></i></a></li>

    </ul>
  </footer>
</div>